<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
  <%= form_with model: @item, url: list_items_path(@list) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
  <ul>
    <% @list.item_lists.each do |item_list| %>
      <li><%= item_list.item.name %> <%= item_list.active? %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
